header{
  background-color: $myBckGr1;
  padding: $myPad;
  border: $myBorder;
  h1{
    color: $myColor;
  }
}
nav{
  padding: $myPad;
  background-color: $myBckGr2;
  border: $myBorder;
  h1{
    color: $myColor;
  }
}
